<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">
<main layout:fragment="content">
    <body>
    <div id="wrap">
        <div id="contents">
            <h1>ABOUT ME</h1>
            <hr>
            <div class="container">
                <div class="cell-aide">
                    <div class="proples">
                        <img class="pro_img" src="/images/E-11.jpg" />
                    </div>
                </div>
                <div class="cell-content">
                    <div class="onethird">
                        <h2>1. 이력</h2>
                        <p><b>~2011.02</b> 인화여자고등학교<br>
                            <b>~2013.02</b> 부천대학교 e-비즈니스과 졸업<br>
                            <b>2022. 03 ~ 2022. 08</b> 코리아 IT 아카데미학원<br>&nbsp;&nbsp;&nbsp;(웹&앱개발)</p>
                            <b>2022. 07 ~ 2023. 01</b> 코리아 IT 아카데미학원<br>&nbsp;&nbsp;&nbsp;(프론트엔드)</p>
                            <b>2023. 02 ~ 2023. 05</b> 코리아 IT 아카데미학원<br>&nbsp;&nbsp;&nbsp;(자바기반 스프링 응용 SW개발자 양성과정 A)</p>
                    </div>

                    <div class="onethird">
                        <h2>2. 신상</h2>
                        <p><b>이름:</b> 임성은 (SungEun Lim)<br>
                            <b>지역:</b> 인천광역시 미추홀구 <br>
                        </p>
                    </div>

                    <div class="onethird  last">
                        <h2>3. 자기소개</h2>
                        <p>긍정/책임/성실</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</main>

</html>