<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">
<main layout:fragment="content">
    <div id="contents">
        <h1>PORTFOLIO</h1>
        <hr>
        <div class="portfolio">
            <ul>
                <li>
                    <div class="thumb">
                        <img src="/images/R.jpg" width="500" height="300" alt="간단한 게시판 만들기 프로젝트" >
                    </div>
                    <h2 class="pf_title">- 설명 -</h2>
                    <p class="pf_content">간단한 게시판 만들기 프로젝트<br>
                        커뮤니티 게시판, 관리자 페이지 게시판 관리를 구현<br><br>
                        역할: 게시판을 이용한 데이터 추가, 삭제, 수정을 구현할 수 있다.</p>
                    <p class="pf_content">- 사용기술 : #Spring #Boot #IntelliJ</p>
                    <p class="date">- 프로젝트 기간 : 2023.5 ~ 2023.6</p>

                </li>
            </ul>
        </div>
    </div>
</main>
</html>