/** 사이트 공통 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
* { box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; color: #000; outline: none; }
html { font-size: 13px; }
ul, ol { list-style: none; margin:0; padding:0; }
dl, dt, dd { margin:0; padding: 0; }
a { text-decoration: none; }
body { margin: 0; }
img { border: 0; }

/** 기준 너비 */
.layout_width { max-width: 1300px; min-width: 1100px; margin: 0 auto; padding: 0 10px; }

/** 기본 스타일 - 입력 */
input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='date'] { border: 1px solid #d5d5d5; width: 100%; height: 45px; padding: 0 10px; border-radius: 3px; }

/** 기본 스타일 - 체크박스, 라디오 버튼 */
input[type='checkbox'] { display: none; }
input[type='checkbox']+label { min-height: 32px; line-height: 1; padding: 3px 0 3px 33px; background:url("../../images/chk-off.png") no-repeat left center; }
input[type='checkbox']:checked+label { background:url("../../images/chk-on.png") no-repeat left center; }

input[type='radio'] { display: none; }
input[type='radio']+label { min-height: 24px; line-height: 1; padding: 3px 0 3px 25px; background:url("../../images/radio-off.png") no-repeat left center; }
input[type='radio']:checked+label { background:url("../../images/radio-on.png") no-repeat left center; }

.dn { display: none !important; }

/** 기본 약관 스타일 */
.terms { height: 200px; overflow-y: scroll; border: 1px solid #d5d5d5; padding: 10px; border-radius: 3px; word-break: break-all; }

/** 메인 관련 스타일 */
.m_img { width: 100%; }
#campaign { position: relative; }
#campaign .caption { z-index: 500; position: absolute; bottom: 60px; right: 0; padding: 20px; background: #7cc0cb; background: rgba(93, 93, 93, 0.7); color: #FFF; font-size: 22px; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25); }
#campaign img { display: block;}

.pro_img { width: 600px; height: 500px; }
.conforp { width: 960px margin: 0 auto; display: grid; grid-template: 70px 1fr 70px / 200px 1fr; grid-gap: 5px; }
.portfolio {  }

/** 로고 스타일 */
#left_h { display: flex; justify-content: space-between; height: 66px; align-items: center; padding: 0 15px; border-bottom: 1px solid #e6e6e6; }
.right_h { margin-right: 10px;}

/** 메뉴 스타일 */
nav { height: 50px; border-bottom: 1px solid black; display: flex; align-items: center; }
.nav-items { display: flex; margin-left: auto; margin-right: 10px; }
.nav-item { margin-left: 10px;}

/** 로그인 스타일 */
.input-box { position: relative; margin: 10px 0; }
.input-box > input { border: none; border-bottom: 1px solid #ccc; padding: 20px 0px 5px 0px; font-size: 14px;}

.container { width: 960px; margin: 0 auto; display: grid; grid-template: 70px 1fr 70px / 200px 1fr; grid-gap: 5px; grid-template-areas:'aside content's; }
.cell-aside { grid-area: aside; }
.cell-content { grid-area: content; }

/** 커뮤니티 게시판 부분 */
.main_bd { text-align: center;}

/** 푸터 스타일 */
footer { width: 100%; height: 100px; bottom: 0; text-align: center; position: fixed; }

